
.trigger__movies-menu:hover .movies-menu{
    display: block;
}

.active-menu{
    position: absolute;
    display: block;
}

.hidden-menu{
    display: none;
}

.tv-shows-menu, .movies-menu, .people-menu, .more-menu, .account-menu{
    position: absolute;
    display: none;
}

.trigger_movies:hover .movies-menu{
    display: block;
}

.trigger_tv-shows:hover .tv-shows-menu{
    display: block;
}

.trigger_people-menu:hover .people-menu{
    display: block;
}

.trigger_more-menu:hover .more-menu{
    display: block;
}

.account-menu-trigger:hover .account-menu{
    display: block;
}
